
body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg,rgba(34,193,195)0%,rgba(121,34,153,1)86%);
    background-attachment: fixed;
    margin:0;
    font-family: 'Poppins',sans-serif;
}
fieldset {
    background-color: #eeeeee;

  }
  
  legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
  
  }

 form{
    width: 500px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
  }
  
  input {
    margin: 10px;
  }
  .btnsubmit{
    background-color: gray;
    color: white;
    padding: 5px;
    border: 1px  gray;
    border-radius: 5px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width:100;
  }
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
  .input-group input{
    border-radius: 5px;
    font-size: 15px;
    margin-top: 3px;
    padding: 5px;
    border:1px solid gray;
  }
  .input-group input:focus{
    outline: 0;
  }