

fieldset {
    background-color: #eeeeee;

  }
  
  legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
  
  }

  form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
  }
  
  input {
    margin: 10px;
    
  }